.container {
  position: relative;
  width: 600px;
  height: 300px;
  border: 1px solid #ccc;
  margin: auto;
  overflow: hidden;
}

.container .list {
  width: 3600px;
  height: 300px;
  transform: translate(-600px, 0);
  overflow: hidden;
}

.transition {
  transition: all ease 1s;
}

.container .list .item {
  float: left;
  width: 600px;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.container .list .item-1 {
  background-color: aqua;
}

.container .list .item-2 {
  background-color: darkgrey;
}

.container .list .item-3 {
  background-color: chartreuse;
}

.container .list .item-4 {
  background-color: blueviolet;
}

.container .con {
  position: absolute;
  top: 50%;
  width: 30px;
  line-height: 36px;
  text-align: center;
  background: rgba(0, 0, 0, .3);
  transform: translate(0, -18px);
  cursor: pointer;
}

.container .left {
  left: 0;
}

.container .right {
  right: 0;
}
